@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #thermal-receipt, #thermal-receipt * {
    visibility: visible;
  }
  #thermal-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
    padding: 0;
    margin: 0;
  }
  @page {
    size: auto;
    margin: 0mm;
  }
}